
/* Start Global Rules */
body {
    margin: 0;
    padding: 0;
    background-color: #F9C06A6B;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    margin: 0;
    padding: 0;
}

/* End Global Rules */

/* Start Navbar */
.header {
    padding: 1rem 0;
    height: 60px;
    margin-top: 8px;
    width: 320px;
}

.nav__list li {
    display: inline;
    font-size: 14px;
}

.signup-btn{
    margin-right: 4px;
}

.nav__link {
    padding: 5px;
    color: #eeee;
    font-size: 16px;
    font-weight: 500;
}

.signin-btn {
    color: white;
}

.signup-btn {
    background-color: #F9C06A;
    color: #1E1E1E;
    padding: 4px;
}

/* End Navbar */


/* Start Landing Section */
.landing {
    position: relative;
}

.landing-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -220px;
    background-image: url(images/coffee-bg-1.jpg);
    /* background-repeat : no-repeat; */
    background-position: center;
    z-index: -9999;
}




.landing-content h1 {
    font-weight: 400;
    font-size: 100px;
    color: #F9C06A;
    margin: 0;
}

.landing-content p {
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    width: 300px;
}
.focus-on-word{
    font-size: xxx-large;
    color: red;
}
.order-btn {
    width: 134px;
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #1E1E1E;
    background: #F9C06A;
}
/* End Landing Section */