
/* Start Global Rules */

body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fd;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* End Global Rules */

/* Start Navbar */
.header {
    padding: 1rem 0;
    height: 60px;
    margin-top: 8px;
}

.nav__list li {
    float: right;
    width: 7%;
}

.nav__item {
    margin: 0 8px;
}

.nav__link {
    padding: 10px;
    color: #eeee;
    font-size: 16px;
    font-weight: 500;
}

.signin-btn {
    color: white;
}

.signup-btn {
    background-color: #F9C06A;
    color: #1E1E1E;
    padding: 8px;
}

/* End Navbar */


/* Start Landing Section */
.landing {
    position: relative;
}

.landing-background {
    width: 100%;
    position: absolute;
    top: -100px;
    background-image: url(images/coffee_image.png);
    background-repeat: no-repeat;
    z-index: -9999;
}

.landing-content {
    padding-top: 100px;
}


.landing-content h1 {
    font-weight: 400;
    font-size: 150px;
    color: #000000;
    margin: 0;
}

.landing-content p {
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    width: 527px;
}

.order-btn {
    width: 134px;
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #1E1E1E;
    background: #F9C06A;
}

/* End Landing Section */