/* Start Global Rules */

body {
    margin: 0;
    padding: 0;
    background-color: #F9C06A6B;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* End Global Rules */

/* Start Navbar */

.header {
    padding: 1rem 0;
    height: 60px;
    margin-top: 8px;
    width: 320px;
}

.nav__list li {
    display: inline;
    font-size: 14px;
}

.signup-btn {
    margin-right: 4px;
}

.nav__link {
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
}

.nav__list li a {
    color: #603809;
}

.signin-btn {
    color: white;
}

.signup-btn {
    background-color: #F9C06A;
    color: #1E1E1E;
    padding: 4px;
}

/* End Navbar */


/* Start Sign up */


.sigin-up i {
    font-weight: bold;
    font-size: 30px;
    color: #603809;
    text-align: center;
}

form {
    width: 350px;
}

.email-input,
.username-input,
.password-input,
.confirm-input,
#phone,
#SelectCountry,
#date {
    height: 30px;
    margin-bottom: 8px;
}


#SelectCountry {
    margin-right: 50px;
}

.cheTerms {
    display: inline-block;
}

.radio-input {
    margin-bottom: 8px;
}

.btns {
    display: block;
}

#reset {
    width: 140px;
    height: 30px;
    background-color: #F9C06A;
    font-weight: 500;
    font-size: 14px;
    color: #1E1E1E;
    margin-top: 7px;
}

.email-input,
.username-input,
.password-input,
.confirm-input,
.phone-input,
#date {
    width: 220px;
    margin-right: 4px;
    float: left;
}

.cheTerms {
    width: 100%;
}

form div {
    float: left;
}

.submit-input {
    width: 140px;
    height: 30px;
    background-color: #F9C06A;
    font-weight: 500;
    font-size: 14px;
    color: #1E1E1E;
    margin-top: 7px;
    margin-right: 16px;
}

.sign-up-backgroud {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: -9999;
}

/* End Sign up */