
/* Start Global Rules */

body {
    margin: 0;
    padding: 0;
    background-color: #F9C06A6B;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    margin: 0;
    padding: 0;
}


/* End Global Rules */
/* Start Navbar */
.header {
    padding: 1rem 0;
    height: 60px;
    margin-top: 8px;
    width: 320px;
}

.nav__list li {
    display: inline;
    font-size: 14px;
}

.signup-btn{
    margin-right: 4px;
}

.nav__link {
    padding: 2px;
    font-size: 16px;
    font-weight: 500;
}

.nav__list li a {
    color: #603809;
}

.signin-btn {
    color: white;
}

.signup-btn {
    background-color: #F9C06A;
    color: #1E1E1E;
    padding: 4px;
}
/* End Navbar */
/* Start Menu Section */
.menu-title {
    text-align: center;
}

.menu-title h1 {
    font-weight: 700;
    font-size: 54px;
    color: #603809;
}

.menu-title p {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #707070;
}

.category {
    margin-top: 50px;
    text-align: center;
}
caption{
    font-weight: 700;
    font-size: 30px;
    color: #603809;
}
.category .category-type {
    width: 21%;
    height: 440px;
    background-color: #FFEED8;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

.category .category-type h1 {
    font-weight: 700;
    font-size: 22px;
    color: #603809;
}

.category .category-type p {
    font-weight: 400;
    font-size: 16px;
    color: #1E1E1E;
}

.category .category-type a {
    width: 134px;
    height: 48px;
    padding: 8px;
    background-color: #F9C06A;
    font-weight: 700;
    font-size: 16px;
    color: #1E1E1E;
}
td{
    padding-left: 4px;
    padding-right: 4px;
}

.benefits-coffee{
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.benefits-coffee h1{
    font-weight: 700;
    font-size: 22px;
    color: #603809;text-align: center;

}
/* End Menu Section */